.active {
    background-color: #145c97 !important;
}

#burger {
    display: none;
}

#menuItems {
    display: inline-block;
}

.appbar-img {
	height: 50px;
	margin-right: 10px;
}

@media screen and (max-width: 820px ) {
    #burger {
        display: inline-block;
    }

    #title-image {
    	margin: 0 auto;
    }

    #title-image img {
		height: 50px;
	}

    #menuItems {
        display: none;
    }
    
    .appbar-img {
    	height: 15px;
    }
}
